<footer class="bg-white py-8 md:py-12 lg:py-16">
  <div class="container">
    <div class="flex flex-col items-center gap-4">
      <p class="text-sm text-gray-500">© {{ currentYear() }} Trackeator. All rights reserved.</p>

      <!-- <nav class="flex gap-6 sm:ml-auto">
        <Link href="/terms">
          <Button variant="link_primary">Terms of Service</Button>
        </Link>

        <Link href="/privacy">
          <Button variant="link_primary">Privacy</Button>
        </Link>
      </nav> -->
    </div>
  </div>
</footer>
