mat-snack-bar-container.mdc-snackbar.ds-alert-snackbar {
  color: #fff;

  simple-snack-bar .mdc-snackbar__label {
    font-weight: 400;
    font-size: 14px;
  }

  &.error .mdc-snackbar__surface {
    background-color: var(--color-error);
  }

  &.success .mdc-snackbar__surface {
    background-color: var(--color-success);
  }
}
