@use './material/index.scss';

.ds {
  .container {
    margin-inline: auto;
    max-width: var(--breakpoint-xl);
    padding-inline: calc(var(--spacing) * 4);
  }

  button {
    &.h-lg {
      height: 2.75rem;

      @media (min-width: var(--breakpoint-lg)) {
        height: 3rem;
      }
    }
  }
}
