<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5 col-xl-4">
      <mat-card class="shadow p-3">
        <mat-card-content>
          <h5 class="mb-4">{{ 'create_account' | translate }}</h5>
          <form [formGroup]="registerForm">
            <mat-form-field class="w-100 mb-3">
              <mat-label>{{ 'email' | translate }}</mat-label>
              <input type="text" matInput formControlName="email" />
              @if (registerForm?.controls?.email?.errors) {
                <mat-error>{{ getFormCtrlErrorMsg(registerForm.controls.email) }}</mat-error>
              }
            </mat-form-field>

            <mat-form-field class="w-100 mb-5">
              <mat-label>{{ 'password' | translate }}</mat-label>
              <input matInput [type]="passwordInputType()" formControlName="password" />
              @if (registerForm?.controls?.password?.errors) {
                <mat-error>{{ getFormCtrlErrorMsg(registerForm.controls.password) }}</mat-error>
              }
              <mat-icon
                class="material-symbols-outlined cursor-pointer"
                matSuffix
                (click)="togglePasswordInputType()"
                >{{ passwordInputType() === 'password' ? 'visibility' : 'visibility_off' }}</mat-icon
              >
            </mat-form-field>

            <button
              type="submit"
              class="h-lg w-100 mb-4"
              type="submit"
              mat-flat-button
              color="primary"
              (click)="submitForm()">
              {{ 'create_account' | translate }}
            </button>

            <div class="d-flex justify-content-center mb-4">
              <app-gsi-button [btnId]="'register'" (tokenChange)="gsiTokenChangeHandler($event)"></app-gsi-button>
            </div>

            <p class="text-center">
              {{ 'already_account_question' | translate }}&nbsp;&nbsp;<a
                class="color-primary cursor-pointer underline-hover fw500"
                (click)="navigate(true, ['auth', 'login'])"
                >{{ 'sign_in_here' | translate }}</a
              >
            </p>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
