<header>
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-auto">
        <div class="d-flex align-items-center">
          <img src="img/branding/logo.svg" height="28px" />
          <img class="ms-2" src="img/branding/logo_text.svg" height="14px" />
        </div>
      </div>

      <div class="col-auto">
        <app-language-switcher></app-language-switcher>
      </div>
    </div>
  </div>
</header>

<div class="body">
  <div class="body__content">
    <ng-content></ng-content>
  </div>
</div>
